page-login {
  ion-item {
    border-top: 0px solid black !important;
  }

  .mastersTrasparent {
    background-color: transparent;
  }

  ion-content {
    background-image: url('../../assets/imgs/screen.jpg');
    background-size:cover;
  }

  .item-input .label-md,
  .item-select .label-md,
  .item-datetime .label-md {
    color: #000000;
  }

}
