<ion-header>

  <ion-navbar>
    <ion-title class="masters">{{title}}</ion-title>
    <ion-buttons end >
      <button ion-button (click)="closeModal()" color="secondary">Chiudi</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--[color]="data.tipo!= 'incasso' ? 'danger' : 'secondary'"-->

  <ion-list *ngFor="let data of displayData">
  <ion-item [ngClass]="data.tipo">
    <ion-icon name="list" item-start color="secondary"></ion-icon>
    <p>{{"Data : "+ formatDate(data.data)}}</p>
    <p>{{"Tipo : "+ data.tipo }}</p>
    <p>{{"Modalità : " + data.modalita }}</p>
    <p>{{"Cliente : " + data.cliente }}</p>
    <p>{{"Descrizione : "+  data.descrizione}}</p>
    <p>{{"Importo : €"+  data.importo}}</p>
    <button ion-button  color="secondary"  *ngIf="data.foto.length >20" (click)="displayImage(data.foto)">Vedi Foto</button>
  </ion-item>
  </ion-list>
</ion-content>
