<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prodotti</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="loginNotificationsCenter-container1" class="jumbotron">
    <h6 id="loginNotificationsCenter-heading1" style="color:#000000;text-align:center;">Inserisci la quantità prodotto per inoltro e-mail fornitore</h6>
  </div>

  <ion-item>
    <ion-label color="secondary">Categoria</ion-label>
    <ion-select [(ngModel)]="categoria" placeholder="Seleziona">
      <ion-option *ngFor="let key of modeKeys" [value]="key.id">{{key.text}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label color="secondary">Fornitore</ion-label>
    <ion-select [(ngModel)]="fornitore" placeholder="Seleziona">
      <ion-option *ngFor="let key of modeKeystwo" [value]="key.id">{{key.nome_descrizione}}</ion-option>
    </ion-select>
  </ion-item>

  <div class="form-group">
    <button ion-button round color="secondary" block (click)="visualizza()">Visualizza Prodotti</button>
  </div>

  <div class="form-group" id="listaProducts" style="display: none">
      <ion-list *ngFor="let data of listaProdotti">
        <ion-item>
          <ion-icon name="albums" item-start color="secondary"></ion-icon>
          <p>{{"Codice: "+data.codice}}</p>
          <p>{{"Descrizione: "+data.descrizione}}</p>
          <p>{{"Fornitore: "+data.nome_descrizione}}</p>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="quantita" placeholder="Inserisci quantità"></ion-input>
        </ion-item>
        <button ion-button round color="primary" block (click)="inviaemail(data)">Invia Richiesta</button>
      </ion-list>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-4>

      </ion-col>
      <ion-col col-4>
        <h6 ion-text>Powered by</h6>
      </ion-col>
      <ion-col col-4>
        <img alt="logo" height="50"   src="../../assets/imgs/ak12.png" >
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
