page-prodotti {

  .masters {
    background-color: #bbff93;
  }

  .mastersTrasparent {
    background-color: transparent;
  }

  ion-content {
    background-image: url('../../assets/imgs/screen.jpg');
    background-size:cover;
  }

  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #bbff93;
  }


}
